<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTMLauncherServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RTMLauncherServer.Properties.Settings>
            <setting name="MinerPath" serializeAs="String">
                <value>C:\cpuminer-gr\cpuminer-gr-1.1.9-x86_64_windows</value>
            </setting>
            <setting name="MinerExe" serializeAs="String">
                <value>cpuminer-zen3.exe</value>
            </setting>
            <setting name="MinerConfig" serializeAs="String">
                <value>cpuminer.conf</value>
            </setting>
        </RTMLauncherServer.Properties.Settings>
    </userSettings>
</configuration>